body{
    background:blanchedalmond;
    text-align: center;
}
div.cdr{
    background: palegreen;
}
div.ft{
    background:paleturquoise;
}
div.tbl{
    background: palevioletred;
}

    